<div class="layout">
  <div class="full">
    <h1>User - <%= @user.username %></h1>
  </div>
  <div class="column">
    <h2>Change Username</h2>
    <%= form_tag(user_update_username_path(@user), method: :patch) do %>
      <%= fields_for :user do |ff| %>
        <fieldset>
          <%= ff.label :username, 'Username' %>
          <%= ff.text_field :username, autocomplete: 'off', value: '' %>
        </fieldset>
        <fieldset>
          <%= submit_tag 'Change Username', class: 'button button-constructive' %>
        </fieldset>
      <% end %>
    <% end %>
    <h2>Change Email</h2>
    <%= form_tag(user_update_email_path(@user), method: :patch) do %>
      <%= fields_for :user do |ff| %>
        <fieldset>
          <%= ff.label :email, 'Email' %>
          <%= ff.email_field :email, autocomplete: 'off', value: '' %>
        </fieldset>
        <fieldset>
          <%= submit_tag 'Change Username', class: 'button button-constructive' %>
        </fieldset>
      <% end %>
    <% end %>
    <h2>Change Password</h2>
    <%= form_tag(user_update_password_path(@user), method: :patch) do %>
      <%= fields_for :user do |ff| %>
        <fieldset>
          <%= ff.label :password, 'Password' %>
          <%= ff.password_field :password, autocomplete: 'off', value: '' %>
          <%= ff.label :password_confirmation, 'Password Confirmation' %>
          <%= ff.password_field :password_confirmation, autocomplete: 'off', value: '' %>
        </fieldset>
        <fieldset>
          <%= submit_tag 'Change Password', class: 'button button-constructive' %>
        </fieldset>
      <% end %>
    <% end %>
  </div>
  <div class="column">
    <h2>Change Role</h2>
    <%= form_tag(user_update_role_path(@user), method: :patch ) do %>
      <%= fields_for :user do |ff| %>
        <fieldset>
          <%= ff.label :role, 'Role' %>
          <%= ff.select :role, options_for_select([nil, Permissions::Roles::GUEST_ROLE, Permissions::Roles::ADMIN_ROLE]) %>
        </fieldset>
        <fieldset>
          <%= submit_tag 'Change Role', class: 'button button-constructive' %>
        </fieldset>
      <% end %>
    <% end %>
    <h2>Destroy User</h2>
    <%= button_to "Delete", { :controller => :users, :action => 'destroy', :id => @user.id }, :class => 'button button-destructive', :method => :delete %>
  </div>
</div>
