<%= form_for @creature, :url => form_url do |f| %>
  <div class="layout">
    <div class="full">
      <%= f.submit :class => 'button button-constructive' %>
    </div>
    <div class="full">
      <h2>Creature Image</h2>
      <% if @creature.image.attached? %>
        <img src="<%= url_for @creature.image %>"/>
      <% end %>
      <fieldset>
        <%= f.file_field :image %>
      </fieldset>
    </div>
    <div class="full">
      <h2>Creature Details</h2>
      <fieldset>
        <%= f.label :creature_category %>
        <%= f.select :creature_category, ["Monster", "NPC"], selected: @creature.creature_category %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :size %>
        <%= f.text_field :size %>
        <%= f.label :creature_type %>
        <%= f.text_field :creature_type %>
        <%= f.label :alignment %>
        <%= f.text_field :alignment %>
        <%= f.label :cr %>
        <%= f.number_field :cr %>
        <%= f.label :ac %>
        <%= f.number_field :ac %>
        <%= f.label :hp %>
        <%= f.number_field :hp %>
        <%= f.label :speed %>
        <%= f.text_field :speed %>
      </fieldset>
    </div>
    <div class="full">
      <h2>Character Stats</h2>
      <fieldset>
        <table>
          <thead>
            <tr>
              <th>Ability</th>
              <th>Score</th>
              <th>Mod</th>
              <th>Save</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Strength</td>
              <td><%= f.number_field :strength_score %></td>
              <td><%= f.number_field :strength_mod %></td>
              <td><%= f.number_field :strength_save %></td>
            </tr>
            <tr>
              <td>Dexterity</td>
              <td><%= f.number_field :dexterity_score %></td>
              <td><%= f.number_field :dexterity_mod %></td>
              <td><%= f.number_field :dexterity_save %></td>
            </tr>
            <tr>
              <td>Constitution</td>
              <td><%= f.number_field :constitution_score %></td>
              <td><%= f.number_field :constitution_mod %></td>
              <td><%= f.number_field :constitution_save %></td>
            </tr>
            <tr>
              <td>Intelligence</td>
              <td><%= f.number_field :intelligence_score %></td>
              <td><%= f.number_field :intelligence_mod %></td>
              <td><%= f.number_field :intelligence_save %></td>
            </tr>
            <tr>
              <td>Wisdom</td>
              <td><%= f.number_field :wisdom_score %></td>
              <td><%= f.number_field :wisdom_mod %></td>
              <td><%= f.number_field :wisdom_save %></td>
            </tr>
            <tr>
              <td>Charisma</td>
              <td><%= f.number_field :charisma_score %></td>
              <td><%= f.number_field :charisma_mod %></td>
              <td><%= f.number_field :charisma_save %></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <fieldset>
        <%= f.label :skills %>
        <%= f.text_field :skills %>
      </fieldset>
    </div>
    <div class="full">
      <h2>Creature Proficiencies</h2>
      <fieldset>
        <%= f.label :condition_immunities %>
        <%= f.text_field :condition_immunities %>
        <%= f.label :condition_resistances %>
        <%= f.text_field :condition_resistances %>
        <%= f.label :condition_vulnerabilities %>
        <%= f.text_field :condition_vulnerabilities %>
        <%= f.label :damage_immunities %>
        <%= f.text_field :damage_immunities %>
        <%= f.label :damage_resistances %>
        <%= f.text_field :damage_resistances %>
        <%= f.label :damage_vulnerabilities %>
        <%= f.text_field :damage_vulnerabilities %>
        <%= f.label :senses %>
        <%= f.text_field :senses %>
        <%= f.label :languages %>
        <%= f.text_field :languages %>
      </fieldset>
    </div>
    <div class="full">
      <h2>About</h2>
      <fieldset>
        <%= f.label :personality_traits %>
        <%= f.text_area :personality_traits %>
        <%= f.label :ideals %>
        <%= f.text_area :ideals %>
        <%= f.label :bonds %>
        <%= f.text_area :bonds %>
        <%= f.label :flaws %>
        <%= f.text_area :flaws %>
        <%= f.label :description %>
        <%= f.text_area :description %>
      </fieldset>
      <fieldset>
        <%= f.label :backstory %>
        <%= f.text_area :backstory, rows: 15 %>
      </fieldset>
    </div>
  <div class="layout">
<% end %>
