<% if modify_creature %>
  <a class="button" href="<%= new_creature_path %>">Create</a>
<% end %>
<ul>
  <% creatures.each do |creature| %>
    <li>
      <a href="<%= creature_path creature %>">
        <div class="card card-link">
          <h2><%= creature.name %></h2>
          <p><%= creature.size %>, <%= creature.creature_type %> ( CR: <%= creature.cr %> )</p>
        </div>
      </a>
    </li>
  <% end %>
</ul>