<div class="layout">
  <div class="full">
    <h1>Creature Settings - Edit Lair Actions</h1>
    <h2><%= @creature.name %></h2>
    <a class="button" href="<%= edit_creature_path @creature %>">Back</a>
    <%= form_for @creature do |f| %>
      <div id="creature-lair-actions-form">
        <%= f.fields_for :creature_lair_actions do |lair_action| %>
          <fieldset>
            <%= lair_action.label :description %>
            <%= lair_action.text_area :description %>
            <%= lair_action.label(:_destroy, "Remove") %>
            <%= lair_action.check_box(:_destroy) %>
          </fieldset>
        <% end %>
      </div>
      <button name="creature-form-add-lair-action-button" type="button">Add Lair Action</button>
      <%= f.submit :class => 'button button-constructive' %>
    <% end %>
  </div>
</div>