<%= form_for @creature do |f| %>
  <div class="layout">
    <div class="full">
      <h1>Creature Settings - Edit Magic Items</h1>
      <h2><%= @creature.name %></h2>
      <a class="button" href="<%= edit_creature_path @creature %>">Back</a>
    </div>
    <div class="full">
      <input type="hidden" name="creature[magic_item_ids][]" value="" autocomplete="off">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>View</th>
            <th>Include</th>
          </tr>
        </thead>
        <tbody>
          <% @magic_items.each do |magic_item| %>
            <tr>
              <td><%= magic_item.name %></td>
              <td><a href="<%= magic_item_path magic_item %>">View</a></td>
              <td><%= f.check_box :magic_item_ids, { multiple: true }, magic_item.id, nil %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="full">
      <fieldset>
        <%= f.submit :class => 'button button-constructive' %>
      </fieldset>
    </div>
  </div>
<% end %>
