<%= form_for @creature do |f| %>
  <div class="layout">
    <div class="full">
      <h1>Creature Settings - Edit Factions</h1>
      <h2><%= @creature.name %></h2>
      <a class="button" href="<%= edit_creature_path @creature %>">Back</a>
    </div>
    <div class="full">
      <input type="hidden" name="creature[faction_ids][]" value="" autocomplete="off">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>View</th>
            <th>Include</th>
          </tr>
        </thead>
        <tbody>
          <% @factions.each do |faction| %>
            <tr>
              <td><%= faction.name %></td>
              <td><a href="<%= faction_path faction %>">View</a></td>
              <td><%= f.check_box :faction_ids, { multiple: true }, faction.id, nil %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="full">
      <fieldset>
        <%= f.submit :class => 'button button-constructive' %>
      </fieldset>
    </div>
  </div>
<% end %>
