<div class="layout">
  <div class="full">
    <h1>Creatures</h1>
    <div>
      <% if modify_creature %>
        <a class="button" href="<%= new_creature_path %>">Create</a>
      <% end %>
    </div>
    <%= form_tag(creatures_path, method: :get) do %>
      <fieldset>
        <%= label_tag :search_by_category, 'Category' %>
        <%= select_tag "search_by_category", options_for_select([nil, 'Monster', 'NPC'], params[:search_by_category]) %>
        <%= label_tag :search_by_name, 'Name' %>
        <%= text_field_tag :search_by_name, params[:search_by_name] %>
        <%= label_tag :search_by_cr, 'CR' %>
        <%= text_field_tag :search_by_cr, params[:search_by_cr] %>
        <%= submit_tag 'Search', class: 'button' %>
      </fieldset>
    <% end %>
    <ul>
      <% @creatures.each do |creature| %>
        <li>
          <%= render partial: 'shared/item_with_token', locals: { description: creature_row(creature), image_alt_text: image_alt_text(creature), image_url: image_url(creature), item_path: creature_path(creature), sub_description: nil, title: creature.name } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>