<div class="layout">
  <div class="full">
    <h1>The D&D Compendium</h1>
    <div class="image-panels">
      <a class="image-panel" href="<%= characters_path %>">
        <%= image_tag "home-page-characters-tile.png", height: 200 %>
        <div class="image-panel-content">
          <h2>Characters</h2>
        </div>
      </a>
      <a class="image-panel" href="<%= creatures_path %>">
        <%= image_tag "home-page-creatures-tile.png", height: 200 %>
        <div class="image-panel-content">
          <h2>Creatures</h2>
        </div>
      </a>
      <a class="image-panel" href="<%= factions_path %>">
        <%= image_tag "home-page-factions-tile.png", height: 200 %>
        <div class="image-panel-content">
          <h2>Factions</h2>
        </div>
      </a>
      <a class="image-panel" href="<%= spells_path %>">
        <%= image_tag "home-page-spells-tile.png", height: 200 %>
        <div class="image-panel-content">
          <h2>Spells</h2>
        </div>
      </a>
    </div>
  </div>
</div>