<div class="layout">
  <div class="full">
    <div class="sheet-header">
      <% if modify_faction %>
        <div class="sheet-header-settings">
          <%= render partial: 'shared/edit_gear_button', locals: { edit_path: edit_faction_path(@faction) } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="full">
    <% if @faction.image.attached? %>
      <img alt="faction portrait" class="token" src="<%= url_for @faction.image %>"/>
    <% end %>
    <h1><%= @faction.name %></h1>
    <div class="card">
      <p><strong>Alignment: </strong><%= @faction.alignment %></p>
      <p><strong>Goals: </strong><%= @faction.goals %></p>
      <p><strong>Ideals: </strong><%= @faction.ideals %></p>
      <p><strong>Allies: </strong><%= @faction.allies %></p>
      <p><strong>Rivals: </strong><%= @faction.rivals %></p>
      <%= simple_format(@faction.description).html_safe %>
    </div>
    <h2>Member NPCs</h2>
    <ul class="bulletless-list">
      <% @faction.creatures.each do |creature| %>
        <li>
          <%= render partial: 'shared/item_with_token', locals: { description: creature_row(creature), image_alt_text: image_alt_text(creature), image_url: image_url(creature), item_path: creature_path(creature), sub_description: nil, title: creature.name } %>
        </li>
      <% end %>
    </ul>
    <h2>Member Characters</h2>
    <ul class="bulletless-list">
      <% @faction.characters.each do |character| %>
        <li>
          <%= render partial: 'shared/item_with_token', locals: { description: character_class_row(character), image_alt_text: image_alt_text(character), image_url: image_url(character), item_path: character_path(character), sub_description: character_multiclass_row(character), title: character.name } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>