<div class="layout">
  <div class="full">
    <div class="sheet-header">
      <% if modify_faction %>
        <div class="sheet-header-settings">
          <%= render partial: 'shared/edit_gear_button', locals: { edit_path: edit_faction_path(@faction) } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="full">
    <% if @faction.image.attached? %>
      <img alt="faction portrait" class="token" src="<%= url_for @faction.image %>"/>
    <% end %>
    <h1><%= @faction.name %></h1>
    <div class="card">
      <p><strong>Alignment: </strong><%= @faction.alignment %></p>
      <p><strong>Goals: </strong><%= @faction.goals %></p>
      <p><strong>Ideals: </strong><%= @faction.ideals %></p>
      <p><strong>Allies: </strong><%= @faction.allies %></p>
      <p><strong>Rivals: </strong><%= @faction.rivals %></p>
      <%= simple_format(@faction.description).html_safe %>
    </div>
    <h2>Member NPCs</h2>
    <ul>
      <% @faction.creatures.each do |creature| %>
        <li>
          <a href="<%= creature_path creature %>">
            <div class="card card-link card-with-icon">
              <% if creature.image.attached? %>
                <img alt="creature portrait" class="token" src="<%= url_for creature.image %>"/>
              <% end %>
              <div>
                <h2><%= creature.name %></h2>
                <p><%= creature.size %>, <%= creature.creature_type %> ( CR: <%= creature.cr %> )</p>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
    <h2>Member Characters</h2>
    <ul>
      <% @faction.characters.each do |character| %>
        <li>
          <a href=<%= character_path character.id %>>
            <div class="card card-link card-with-icon">
              <% if character.image.attached? %>
                <img alt="character portrait" class="token" src="<%= url_for character.image %>"/>
              <% end %>
              <div>
                <h2><%= character.name %></h2>
                <p><%= character.character_class %>, <%= character.character_sub_class %> ( <%= character.character_class_level %> )</p>
                <% if character.multiclass_class.present?%>
                  <p><%= character.multiclass_class %>, <%= character.multiclass_sub_class %> ( <%= character.multiclass_class_level %> )</p>
                <% end %>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>