<%= form_for @character do |f| %>
  <div class="layout">
    <div class="full">
      <%= f.submit :class => 'button button-constructive' %>
    </div>
    <div class="full">
      <h2>Character Image</h2>
      <fieldset>
        <%= f.file_field :image %>
      </fieldset>
    </div>
    <div class="full">
      <h2>Character Details</h2>
      <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :alignment %>
        <%= f.text_field :alignment %>
        <%= f.label :background %>
        <%= f.text_field :background %>
        <%= f.label :race %>
        <%= f.text_field :race %>
        <%= f.label :sub_race %>
        <%= f.text_field :sub_race %>
      </fieldset>
    </div>
    <div class="column">
      <h2>Character Class</h2>
      <fieldset>
        <%= f.label :character_class %>
        <%= f.text_field :character_class %>
        <%= f.label :character_sub_class %>
        <%= f.text_field :character_sub_class %>
        <%= f.label :character_class_hit_dice %>
        <%= f.text_field :character_class_hit_dice %>
        <%= f.label :character_class_level %>
        <%= f.number_field :character_class_level %>
      </fieldset>
    </div>
    <div class="column">
      <h2>Character Multiclass</h2>
      <fieldset>
        <%= f.label :multiclass_class %>
        <%= f.text_field :multiclass_class %>
        <%= f.label :multiclass_sub_class %>
        <%= f.text_field :multiclass_sub_class %>
        <%= f.label :multiclass_class_hit_dice %>
        <%= f.text_field :multiclass_class_hit_dice %>
        <%= f.label :multiclass_class_level %>
        <%= f.number_field :multiclass_class_level %>
      </fieldset>
    </div>
    <div class="full">
      <h2>Character Stats</h2>
      <fieldset>
        <%= f.label :hp %>
        <%= f.number_field :hp %>
        <%= f.label :ac %>
        <%= f.number_field :ac %>
        <%= f.label :initiative %>
        <%= f.number_field :initiative %>
        <%= f.label :speed %>
        <%= f.number_field :speed %>
        <%= f.label :proficiency_bonus %>
        <%= f.number_field :proficiency_bonus %>
      </fieldset>
      <fieldset>
        <table>
          <thead>
            <tr>
              <th>Ability</th>
              <th>Score</th>
              <th>Mod</th>
              <th>Save</th>
              <th>Prof</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Strength</td>
              <td><%= f.number_field :strength_score %></td>
              <td><%= f.number_field :strength_mod %></td>
              <td><%= f.number_field :strength_save %></td>
              <td><%= f.select :strength_prof, ["none", "prof", "exp"], selected: @character.strength_prof %></td>
            </tr>
            <tr>
              <td>Dexterity</td>
              <td><%= f.number_field :dexterity_score %></td>
              <td><%= f.number_field :dexterity_mod %></td>
              <td><%= f.number_field :dexterity_save %></td>
              <td><%= f.select :dexterity_prof, ["none", "prof", "exp"], selected: @character.dexterity_prof %></td>
            </tr>
            <tr>
              <td>Constitution</td>
              <td><%= f.number_field :constitution_score %></td>
              <td><%= f.number_field :constitution_mod %></td>
              <td><%= f.number_field :constitution_save %></td>
              <td><%= f.select :constitution_prof, ["none", "prof", "exp"], selected: @character.constitution_prof %></td>
            </tr>
            <tr>
              <td>Intelligence</td>
              <td><%= f.number_field :intelligence_score %></td>
              <td><%= f.number_field :intelligence_mod %></td>
              <td><%= f.number_field :intelligence_save %></td>
              <td><%= f.select :intelligence_prof, ["none", "prof", "exp"], selected: @character.intelligence_prof %></td>
            </tr>
            <tr>
              <td>Wisdom</td>
              <td><%= f.number_field :wisdom_score %></td>
              <td><%= f.number_field :wisdom_mod %></td>
              <td><%= f.number_field :wisdom_save %></td>
              <td><%= f.select :wisdom_prof, ["none", "prof", "exp"], selected: @character.wisdom_prof %></td>
            </tr>
            <tr>
              <td>Charisma</td>
              <td><%= f.number_field :charisma_score %></td>
              <td><%= f.number_field :charisma_mod %></td>
              <td><%= f.number_field :charisma_save %></td>
              <td><%= f.select :charisma_prof, ["none", "prof", "exp"], selected: @character.charisma_prof %></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
      <fieldset>
        <table>
          <thead>
            <tr>
              <th>Ability</th>
              <th>Mod</th>
              <th>Prof</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Acrobatics</td>
              <td><%= f.number_field :acrobatics_mod %></td>
              <td><%= f.select :acrobatics_prof, ["none", "prof", "exp"], selected: @character.acrobatics_prof %></td>
            </tr>
            <tr>
              <td>Animal Handling</td>
              <td><%= f.number_field :animal_handling_mod %></td>
              <td><%= f.select :animal_handling_prof, ["none", "prof", "exp"], selected: @character.animal_handling_prof %></td>
            </tr>
            <tr>
              <td>Arcana</td>
              <td><%= f.number_field :arcana_mod %></td>
              <td><%= f.select :arcana_prof, ["none", "prof", "exp"], selected: @character.arcana_prof %></td>
            </tr>
            <tr>
              <td>Athletics</td>
              <td><%= f.number_field :athletics_mod %></td>
              <td><%= f.select :athletics_prof, ["none", "prof", "exp"], selected: @character.athletics_prof %></td>
            </tr>
            <tr>
              <td>Deception</td>
              <td><%= f.number_field :deception_mod %></td>
              <td><%= f.select :deception_prof, ["none", "prof", "exp"], selected: @character.deception_prof %></td>
            </tr>
            <tr>
              <td>History</td>
              <td><%= f.number_field :history_mod %></td>
              <td><%= f.select :history_prof, ["none", "prof", "exp"], selected: @character.history_prof %></td>
            </tr>
            <tr>
              <td>Insight</td>
              <td><%= f.number_field :insight_mod %></td>
              <td><%= f.select :insight_prof, ["none", "prof", "exp"], selected: @character.insight_prof %></td>
            </tr>
            <tr>
              <td>Intimidation</td>
              <td><%= f.number_field :intimidation_mod %></td>
              <td><%= f.select :intimidation_prof, ["none", "prof", "exp"], selected: @character.intimidation_prof %></td>
            </tr>
            <tr>
              <td>Investigation</td>
              <td><%= f.number_field :investigation_mod %></td>
              <td><%= f.select :investigation_prof, ["none", "prof", "exp"], selected: @character.investigation_prof %></td>
            </tr>
            <tr>
              <td>Medicine</td>
              <td><%= f.number_field :medicine_mod %></td>
              <td><%= f.select :medicine_prof, ["none", "prof", "exp"], selected: @character.medicine_prof %></td>
            </tr>
            <tr>
              <td>Nature</td>
              <td><%= f.number_field :nature_mod %></td>
              <td><%= f.select :nature_prof, ["none", "prof", "exp"], selected: @character.nature_prof %></td>
            </tr>
            <tr>
              <td>Perception</td>
              <td><%= f.number_field :perception_mod %></td>
              <td><%= f.select :perception_prof, ["none", "prof", "exp"], selected: @character.perception_prof %></td>
            </tr>
            <tr>
              <td>Performance</td>
              <td><%= f.number_field :performance_mod %></td>
              <td><%= f.select :performance_prof, ["none", "prof", "exp"], selected: @character.performance_prof %></td>
            </tr>
            <tr>
              <td>Persuasion</td>
              <td><%= f.number_field :persuasion_mod %></td>
              <td><%= f.select :persuasion_prof, ["none", "prof", "exp"], selected: @character.persuasion_prof %></td>
            </tr>
            <tr>
              <td>Religion</td>
              <td><%= f.number_field :religion_mod %></td>
              <td><%= f.select :religion_prof, ["none", "prof", "exp"], selected: @character.religion_prof %></td>
            </tr>
            <tr>
              <td>Sleight of Hand</td>
              <td><%= f.number_field :sleight_of_hand_mod %></td>
              <td><%= f.select :sleight_of_hand_prof, ["none", "prof", "exp"], selected: @character.sleight_of_hand_prof %></td>
            </tr>
            <tr>
              <td>Stealth</td>
              <td><%= f.number_field :stealth_mod %></td>
              <td><%= f.select :stealth_prof, ["none", "prof", "exp"], selected: @character.stealth_prof %></td>
            </tr>
            <tr>
              <td>Survival</td>
              <td><%= f.number_field :survival_mod %></td>
              <td><%= f.select :survival_prof, ["none", "prof", "exp"], selected: @character.survival_prof %></td>
            </tr>
            <tr>
              <td>Passive Perception</td>
              <td><%= f.number_field :passive_perception %></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
    <div class="layout">
      <div class="full">
        <h2>Biography</h2>
      </div>
      <div class="column">
        <fieldset>
          <%= f.label :personality_traits %>
          <%= f.text_area :personality_traits %>
          <%= f.label :ideals %>
          <%= f.text_area :ideals %>
          <%= f.label :bonds %>
          <%= f.text_area :bonds %>
          <%= f.label :flaws %>
          <%= f.text_area :flaws %>
        </fieldset>
      </div>
      <div class="column">
        <fieldset>
          <%= f.label :age %>
          <%= f.number_field :age %>
          <%= f.label :eyes %>
          <%= f.text_field :eyes %>
          <%= f.label :hair %>
          <%= f.text_field :hair %>
          <%= f.label :height %>
          <%= f.text_field :height %>
          <%= f.label :skin %>
          <%= f.text_field :skin %>
          <%= f.label :weight %>
          <%= f.text_field :weight %>
        </fieldset>
        <fieldset>
          <%= f.label :backstory %>
          <%= f.text_area :backstory, rows: 15 %>
        </fieldset>
      </div>
    </div>
    <div class="full">
      <h2>Character Proficiencies</h2>
      <fieldset>
        <%= f.label :armor_proficiencies %>
        <%= f.text_field :armor_proficiencies %>
        <%= f.label :tool_proficiencies %>
        <%= f.text_field :tool_proficiencies %>
        <%= f.label :weapon_proficiencies %>
        <%= f.text_field :weapon_proficiencies %>
        <%= f.label :condition_immunities %>
        <%= f.text_field :condition_immunities %>
        <%= f.label :condition_resistances %>
        <%= f.text_field :condition_resistances %>
        <%= f.label :condition_vulnerabilities %>
        <%= f.text_field :condition_vulnerabilities %>
        <%= f.label :damage_immunities %>
        <%= f.text_field :damage_immunities %>
        <%= f.label :damage_resistances %>
        <%= f.text_field :damage_resistances %>
        <%= f.label :damage_vulnerabilities %>
        <%= f.text_field :damage_vulnerabilities %>
        <%= f.label :senses %>
        <%= f.text_field :senses %>
        <%= f.label :languages %>
        <%= f.text_field :languages %>
      </fieldset>
    </div>
  </div>
<% end %>
