<div class="layout">
  <div class="full">
    <h1>Character Settings - Edit Creatures</h1>
    <h2><%= @character.name %></h2>
    <a class="button" href="<%= edit_character_path @character %>">Back</a>
    <%= form_for @character do |f| %>
      <input type="hidden" name="character[creature_ids][]" value="" autocomplete="off">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>View</th>
            <th>Include</th>
          </tr>
        </thead>
        <tbody>
          <% @creatures.each do |creature| %>
            <tr>
              <td><%= creature.name %></td>
              <td><a href="<%= creature_path creature %>">View</a></td>
              <td><%= f.check_box :creature_ids, { multiple: true }, creature.id, nil %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= f.submit :class => 'button button-constructive' %>
    <% end %>
  </div>
</div>