<div class="layout">
  <div class="full">
    <h1>Character Settings - Edit Resources</h1>
    <h2><%= @character.name %></h2>
    <a class="button" href="<%= edit_character_path @character %>">Back</a>
    <%= form_for @character do |f| %>
      <div id="character-resources-form">
        <%= f.fields_for :character_feature_resources, remote: true do |feature_resource| %>
          <fieldset>
            <%= feature_resource.label :name %>
            <%= feature_resource.text_field :name %>
            <%= feature_resource.label :total %>
            <%= feature_resource.number_field :total %>
            <%= feature_resource.label(:_destroy, "Remove") %>
            <%= feature_resource.check_box(:_destroy) %>
          </fieldset>
        <% end %>
      </div>
      <button name="character-form-add-resource-button" type="button">Add Resource</button>
      <%= f.submit :class => 'button button-constructive' %>
    <% end %>
  </div>
</div>