<div class="layout">
  <div class="full">
    <h1>Character Settings - Edit Features</h1>
    <h2><%= @character.name %></h2>
    <a class="button" href="<%= edit_character_path @character %>">Back</a>
    <%= form_for @character do |f| %>
      <div id="character-features-form">
        <%= f.fields_for :character_features do |feature| %>
          <fieldset>
            <%= feature.label :name %>
            <%= feature.text_field :name %>
            <%= feature.label :source %>
            <%= feature.text_field :source %>
            <%= feature.label :feature_type %>
            <%= feature.text_field :feature_type %>
            <%= feature.label :description %>
            <%= feature.text_area :description %>
            <%= feature.label(:_destroy, "Remove") %>
            <%= feature.check_box(:_destroy) %>
          </fieldset>
        <% end %>
      </div>
      <button name="character-form-add-feature-button" type="button">Add Feature</button>
      <%= f.submit :class => 'button button-constructive' %>
    <% end %>
  </div>
</div>