<div class="layout">
  <div class="full">
    <h1>Character Settings - Edit Inventory</h1>
    <h2><%= @character.name %></h2>
    <a class="button" href="<%= edit_character_path @character %>">Back</a>
    <%= form_for @character do |f| %>
      <fieldset>
        <%= f.label :copper_pieces %>
        <%= f.number_field :copper_pieces %>
        <%= f.label :silver_pieces %>
        <%= f.number_field :silver_pieces %>
        <%= f.label :electrum_pieces %>
        <%= f.number_field :electrum_pieces %>
        <%= f.label :gold_pieces %>
        <%= f.number_field :gold_pieces %>
        <%= f.label :platinum_pieces %>
        <%= f.number_field :platinum_pieces %>
      </fieldset>
      <div id="character-items-form">
        <%= f.fields_for :character_items do |item| %>
          <fieldset>
            <%= item.label :name %>
            <%= item.text_field :name %>
            <%= item.label :total %>
            <%= item.number_field :total %>
            <%= item.label :description %>
            <%= item.text_area :description %>
            <%= item.label(:_destroy, "Remove") %>
            <%= item.check_box(:_destroy) %>
          </fieldset>
        <% end %>
      </div>
      <button class="button" name="character-form-add-item-button" type="button">Add Item</button>
      <%= f.submit :class => 'button button-constructive' %>
    <% end %>
  </div>
</div>