<%= form_for @character do |f| %>
  <div class="layout">
    <div class="full">
      <h1>Character Settings - Edit Spells</h1>
      <h2><%= @character.name %></h2>
      <a class="button" href="<%= edit_character_path @character %>">Back</a>
    </div>
    <div class="column">
      <fieldset>
        <%= f.label :spellcasting_ability %>
        <%= f.text_field :spellcasting_ability %>
        <%= f.label :spellcasting_modifier %>
        <%= f.text_field :spellcasting_modifier %>
        <%= f.label :spellcasting_save_dc %>
        <%= f.number_field :spellcasting_save_dc %>
      </fieldset>
      <fieldset>
        <%= f.label :spell_slots_first %>
        <%= f.number_field :spell_slots_first %>
        <%= f.label :spell_slots_second %>
        <%= f.number_field :spell_slots_second %>
        <%= f.label :spell_slots_third %>
        <%= f.number_field :spell_slots_third %>
        <%= f.label :spell_slots_fourth %>
        <%= f.number_field :spell_slots_fourth %>
        <%= f.label :spell_slots_fifth %>
        <%= f.number_field :spell_slots_fifth %>
        <%= f.label :spell_slots_sixth %>
        <%= f.number_field :spell_slots_sixth %>
        <%= f.label :spell_slots_seventh %>
        <%= f.number_field :spell_slots_seventh %>
        <%= f.label :spell_slots_eighth %>
        <%= f.number_field :spell_slots_eighth %>
        <%= f.label :spell_slots_ninth %>
        <%= f.number_field :spell_slots_ninth %>
      </fieldset>
    </div>
    <div class="column">
      <input type="hidden" name="character[spell_ids][]" value="" autocomplete="off">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Level</th>
            <th>View</th>
            <th>Include</th>
          </tr>
        </thead>
        <tbody>
          <% @spells.each do |spell| %>
            <tr>
              <td><%= spell.name %></td>
              <td><%= spell.level %></td>
              <td><a href="<%= spell_path spell %>">View</a></td>
              <td><%= f.check_box :spell_ids, { multiple: true }, spell.id, nil %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="full">
      <fieldset>
        <%= f.submit :class => 'button button-constructive' %>
      </fieldset>
    </div>
  </div>
<% end %>
