<div class="layout">
  <div class="full">
    <h1>Characters</h1>
    <% if modify_character %>
      <a class="button" href=<%= new_character_path %>>Create</a>
    <% end %>
    <ul>
      <% @characters.each do |character| %>
        <li>
          <a href=<%= character_path character.id %>>
            <div class="card card-link card-with-icon">
              <% if character.image.attached? %>
                <img alt="character portrait" class="token" src="<%= url_for character.image %>"/>
              <% end %>
              <div>
                <h2><%= character.name %></h2>
                <p><%= character.character_class %>, <%= character.character_sub_class %> ( <%= character.character_class_level %> )</p>
                <% if character.multiclass_class.present?%>
                  <p><%= character.multiclass_class %>, <%= character.multiclass_sub_class %> ( <%= character.multiclass_class_level %> )</p>
                <% end %>
              </div>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>