<%= form_for magic_item do |f| %>
  <div class="full">
    <h2>Item Image</h2>
    <fieldset>
      <%= f.file_field :image %>
    </fieldset>
  </div>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :category, 'Category' %>
    <%= 
      f.select :category, options_for_select([
        nil,
        CoreRules::ItemCategory::ARMOR,
        CoreRules::ItemCategory::POTION,
        CoreRules::ItemCategory::RING,
        CoreRules::ItemCategory::ROD,
        CoreRules::ItemCategory::SCROLL,
        CoreRules::ItemCategory::STAFF,
        CoreRules::ItemCategory::WAND,
        CoreRules::ItemCategory::WEAPON,
        CoreRules::ItemCategory::WONDEROUS_ITEM
      ], magic_item.category)
    %>
    <%= f.label :sub_category %>
    <%= f.text_field :sub_category %>
    <%= f.label :rarity, 'Rarity' %>
    <%= 
      f.select :rarity, options_for_select([
        nil,
        CoreRules::ItemRarity::COMMON,
        CoreRules::ItemRarity::UNCOMMON,
        CoreRules::ItemRarity::RARE,
        CoreRules::ItemRarity::VERY_RARE,
        CoreRules::ItemRarity::LEGENDARY,
        CoreRules::ItemRarity::ARTIFACT
      ], magic_item.rarity)
    %>
    <%= f.label :attunement %>
    <%= f.check_box :attunement %>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
  <fieldset>
    <%= f.submit :class => 'button button-constructive' %>
  </fieldset>
<% end %>