<div class="layout">
  <div class="full">
    <h1>Spells</h1>
    <% if modify_spell %>
      <a class="button" href="<%= new_spell_path %>">Create</a>
    <% end %>
    <%= form_tag(spells_path, method: :get) do %>
      <fieldset>
        <%= label_tag :search_by_name, 'Name' %>
        <%= text_field_tag :search_by_name, params[:search_by_name] %>
        <%= label_tag :search_by_level, 'Level' %>
        <%= text_field_tag :search_by_level, params[:search_by_level] %>
        <%= label_tag :search_by_school, 'School' %>
        <%= select_tag :search_by_school, options_for_select([nil, 'Abjuration', 'Conjuration', 'Divination', 'Enchantment', 'Evocation', 'Illusion', 'Necromancy', 'Transmutation'], params[:search_by_school]) %>
        <%= submit_tag 'Search', class: 'button' %>
      </fieldset>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Level</th>
          <th>School</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @spells.each do |spell| %>
          <tr>
            <td><%= spell.id %></td>
            <td><%= spell.name %></td>
            <td><%= spell.level %></td>
            <td><%= spell.school %></td>
            <td>
              <a href="<%= spell_path spell %>">View</a>
              <a href="<%= edit_spell_path spell %>">Edit</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </tabe>
  </div>
</div>