<div class="layout">
  <div class="full">
    <h1>Spells</h1>
    <% if modify_spell %>
      <a class="button" href="<%= new_spell_path %>">Create</a>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Level</th>
          <th>School</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @spells.each do |spell| %>
          <tr>
            <td><%= spell.id %></td>
            <td><%= spell.name %></td>
            <td><%= spell.level %></td>
            <td><%= spell.school %></td>
            <td>
              <a href="<%= spell_path spell %>">View</a>
              <a href="<%= edit_spell_path spell %>">Edit</a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </tabe>
  </div>
</div>