<div class="layout">
  <div class="full">
    <div class="sheet-header">
      <% if modify_spell %>
        <div class="sheet-header-settings">
          <%= render partial: 'shared/edit_gear_button', locals: { edit_path: edit_spell_path(@spell) } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="full">
    <h1><%= @spell.name %></h1>
    <div class="card">
      <p><strong>Level: </strong><%= @spell.level %></p>
      <p><strong>School: </strong><%= @spell.school %></p>
      <p><strong>Components: </strong>(<%= @spell.ritual ? 'R' : '' %><%= @spell.material_components ? 'M' : '' %><%= @spell.somatic_components ? 'S' : '' %><%= @spell.verbal_components ? 'V' : '' %><%= @spell.concentration ? 'C' : '' %>) <%= @spell.components %></p>
      <p><strong>Cating Time: </strong><%= @spell.casting_time %></p>
      <p><strong>Duration: </strong><%= @spell.duration %></p>
      <p><strong>Range: </strong><%= @spell.range %></p>
      <p><strong>Target: </strong><%= @spell.target %></p>
      <p>
        <strong>Description: </strong>
        <%= simple_format(@spell.description).html_safe %>
      </p>
      <p>
        <strong>Description at Higher Levels: </strong>
        <%= simple_format(@spell.description_higher_levels).html_safe %>
      </p>
    </div>
  </div>
</div>