<%= form_for campaign, :url => form_url do |f| %>
  <div class="layout">
    <div class="full">
      <%= f.submit :class => 'button button-constructive' %>
      <h2>Campaign Details</h2>
      <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
  </div>
<% end %>
