<%= form_for :location_form, url: form_url, method: form_method do |f| %>
  <div class="full">
    <h2>Map</h2>
    <% if @map.image.attached? %>
      <img src="<%= url_for @map.image %>"/>
    <% end %>
    <%= f.fields_for :map do |map| %>
      <fieldset>
        <%= map.file_field :image %>
      </fieldset>
    <% end %>
  </div>
  <div class="full">
    <h2>Location</h2>
    <%= f.fields_for :location do |location| %>
      <fieldset>
        <%= location.label :name %>
        <%= location.text_field :name, value: @location.name %>
        <%= location.label :description %>
        <%= location.text_area :description, value: @location.description %>
      </fieldset>
      <div class="full">
        <h2>Sigil</h2>
        <% if @location.sigil.attached? %>
          <img src="<%= url_for @location.sigil %>"/>
        <% end %>
        <fieldset>
          <%= location.file_field :sigil %>
        </fieldset>
      </div>
      <fieldset>
        <%= location.label :content %>
        <%= location.rich_text_area :content, value: @location.content %>
      </fieldset>
    <% end %>
  </div>
  <fieldset>
    <%= f.submit :class => 'button button-constructive' %>
  </fieldset>
<% end %>
