<%= form_for @location do |f| %>
  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </fieldset>
  <div class="full">
    <h2>Sigil</h2>
    <% if @location.sigil.attached? %>
      <img src="<%= url_for @location.sigil %>"/>
    <% end %>
    <fieldset>
      <%= f.file_field :sigil %>
    </fieldset>
  </div>
  <div class="full">
    <h2>Map</h2>
    <% if @location.map.attached? %>
      <img src="<%= url_for @location.map %>"/>
    <% end %>
    <fieldset>
      <%= f.file_field :map %>
    </fieldset>
  </div>
  <fieldset>
    <%= f.label :content %>
    <%= f.rich_text_area :content %>
  </fieldset>
  <fieldset>
    <%= f.submit :class => 'button button-constructive' %>
  </fieldset>
<% end %>