<div class="layout">
  <div class="full">
    <div class="sheet-header">
      <% if modify_location %>
        <div class="sheet-header-settings">
          <%= render partial: 'shared/edit_gear_button', locals: { edit_path: edit_location_path(@location) } %>
        </div>
      <% end %>
    </div>
    <% if @location.sigil.attached? %>
      <img alt="<%= "#{@location.name} sigil" %>" class="token" src="<%= url_for(@location.sigil) %>"/>
    <% end %>
    <h1><%= @location.name %></h1>
    <% if @location.map.attached? %>
      <h2>Map</h2>
      <img alt="<%= "#{@location.name} map" %>" src="<%= url_for(@location.map) %>" width="1000px"/>
    <% end %>
    <div class="card">
      <%= simple_format(@location.description).html_safe %>
    </div>
    <h2>Article</h2>
    <%= @location.content %>
  </div>
</div>