<!DOCTYPE html>
<html>
  <head>
    <title>Character Sheet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <div class="alert">
        <%= msg %>
      </div>
    <% end %>
    <nav>
      <ul>
        <li><a href=<%= root_path %>>Home</a></li>
        <li><a href=<%= characters_path %>>Characters</a></li>
        <li><a href=<%= creatures_path %>>Creatures</a></li>
        <li><a href=<%= factions_path %>>Factions</a></li>
        <li><a href=<%= magic_items_path %>>Magic Items</li>
        <% if user_signed_in? %>
          <li><a href=<%= spells_path %>>Spells</a></li>
        <% end %>
      </ul>
      <div id="user_nav">
        <% if user_signed_in? %>
          <span class="user-nav-username">Signed in as: <%= current_user.username %></span>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
